pre#sourceArea.source-area
	code
		span &ensp;
		span
			p(style='margin: 0.0px 0.0px 0.0px 0.0px; color: #ac8350; ')
				span <
				span(style='color: #bb996e') div&ensp;
				| id=
				span(style='color: #a0ab7d')
					b "element"&ensp;
				| data-text-animation=
				span(style='color: #a0ab7d')
					b "fadeIn"
				| >
				span(style='color: #f9f9f9')
					b texpectacle.js
				| &lt;/
				span(style='color: #bb996e') div
				span >
		span &ensp;

		span
			p(style='margin: 0.0px 0.0px 0.0px 0.0px; color: #ac8350')
				| &lt;
				span(style='color: #bb996e') script
				| &gt;
		span
			p(style='margin: 0.0px 0.0px 0.0px 0.0px; color: #a8a65a')
				span(style='color: #d7b67c') 	var&ensp;
				span(style='color: #62b188')
					b
						i element&ensp;
				span(style='color: #d7b67c') =&ensp;
				span(style='color: #889ab5') document
				span(style='color: #f9f9f9') .
				| getElementById
				span(style='color: #f9f9f9') (
				span(style='color: #a0ab7d') 'element'
				span(style='color: #f9f9f9') );

		span
			p(style='margin: 0.0px 0.0px 0.0px 0.0px; color: #62b188')
				span(style='color: #d7b67c') 	var&ensp;
				b
					i txp&ensp;
				span(style='color: #d7b67c') =&ensp;
				b
					i texpectacle
				span(style='color: #f9f9f9') (
				b
					i element
				span(style='color: #f9f9f9') );
		span
			p(style='margin: 0.0px 0.0px 0.0px 0.0px; color: #a8a65a')
				span(style='color: #62b188') 	txp
				span(style='color: #f9f9f9') .
				| setScroll
				span(style='color: #f9f9f9') ();
		span
			p(style='margin: 0.0px 0.0px 0.0px 0.0px; color: #ac8350')
				| &lt;/
				span(style='color: #bb996e') script
				| &gt;
		span &ensp;