footer.footer
	.inner
		small.copy &copy; 2016
			a(href="https://www.facebook.com/matsuda.ddcm", target="_blank") Hiroki Matsuda
		| <div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=1065940373490548";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>