header.top
	.inner
		h1#pluginName.title(data-text-animation="rotateDropShadow") texpectacle.js
		.animation-test
			select#animateType.input-select(name='type')
				option(value='rotateDropShadow') rotateDropShadow
				option(value='scaleDownShadow') scaleDownShadow
				option(value='spinHorizontal') spinHorizontal
				option(value='spinVertical') spinVertical
				option(value='dropRight') dropRight
				option(value='dropLeft') dropLeft
				option(value='jumpRight') jumpRight
				option(value='jumpLeft') jumpLeft
				option(value='dashRight') dashRight
				option(value='dashLeft') dashLeft
				option(value='rotateRightScaleUp') rotateRightScaleUp
				option(value='rotateLeftScaleUp') rotateLeftScaleUp
				option(value='fadeIn') fadeIn
				option(value='rotateDrop') rotateDrop
				option(value='scaleDown') scaleDown
				option(value='scaleUp') scaleUp
				option(value='fadeInLeft') fadeInLeft
				option(value='fadeInRight') fadeInRight
			button#run.run(type='button') Run
		.btn-holder
			a.download-btn(href="https://matsudakrh.github.io/texpectacle.js/texpectacle.zip")
				i.fa.fa-download(aria-hidden="true")
				| Download
			br.sp-visible
			a.git-hub-btn(href="https://github.com/matsudakrh/texpectacle.js", target="_blank")
				i.fa.fa-github(aria-hidden="true")
				| view on Git Hub
